* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Trebuchet MS", system-ui, system-ui;
    background-color: white;
}

img {
    width: 100%;
    object-fit: contain;
}